/** Set all boxes to border size **/
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

/** For phones **/
@media (max-width: 767px) {
  .col-phone {
    width: 100%;
  }
}

/** For tablets **/
@media (min-width: 768px) and (max-width: 991px) {
  .col-tablet-1 {
    width: 50%;
    float: left;
  }
  .col-tablet-2 {
    width: 100%;
    float: left;
  }
}

/** For desktops **/
@media (min-width: 992px) {
  .col-desktop {
    width: 33.33%;
    float: left;
  }
}

/** Header font and style **/
h1 {
  font-size: 200%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  font-style: italic;
  margin-bottom: 15px;
}

/** Section title style **/
.section-title {
  background-color: rgb(98, 216, 224);
}

.section-box {
  border: 4px solid rgb(0, 0, 0);
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 25px;
  text-align: center;
}

/** Formating of paragraphs in boxes **/
div p {
  display: block;
  text-align: left;
  padding-top: 40px;
  padding-inline-end: 5px;
  padding-inline-start: 5px;
  margin-block-end: 1em;
  margin-block-start: 1em;
}

div {
  display: block;
}

/** Container sizing **/
.container {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  width: 100%;
}

/** Box sizing and designs **/
.box {
  position: relative;
  border: 1px solid black;
  background-color: beige;
  margin: 15px;
  top: 0px;
}
